Repository pklaschka/lorem-ipsum-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: static-files, tests, placeholder-texts

.github/labeler.yml:

static-files:
  - dist/**/*

tests:
  - ./**/*.spec.js
  - ./**/*.test.js

placeholder-texts:
  - src/placeholder-texts.json

100 % test coverage inside src/functions
  src/functions/placeholder-text/apply-text.spec.js
Labels: tests

Added coveralls
  .github/workflows/ci.yml
  package-lock.json
  package.json
Labels: none

Fixed CI config
  .github/workflows/ci.yml
Labels: none

Added Coveralls Repo token to Coveralls CI
  .github/workflows/ci.yml
Labels: none

Added Badges to README.md
  .github/workflows/ci.yml
  README.md
Labels: none

Added GitHub Workflow status badge for master branch
  README.md
Labels: none

#5 Create placeholder texts from rectangles First steps
  src/functions/placeholder-text/__mocks__/replace-with-text.js
  src/functions/placeholder-text/fill-selection-with-placeholder-text.js
  src/functions/placeholder-text/replace-with-text.js
Labels: none

Fixed tests
  __mocks__/scenegraph.js
  src/functions/placeholder-text/fill-selection-with-placeholder-text.js
  src/functions/placeholder-text/fill-selection-with-placeholder-text.spec.js
Labels: tests

Error dialog and stuff
  dist/lang/de.json
  dist/lang/default.json
  src/functions/init.js
  src/functions/placeholder-text/fill-selection-with-placeholder-text.js
  src/functions/placeholder-text/replace-with-text.js
  webpack.config.js
Labels: static-files

Updated translations
  dist/lang/de.json
  dist/lang/default.json
  src/functions/placeholder-text/fill-selection-with-placeholder-text.js
  src/modals/lorem-configuration-modal.js
  src/modals/selection-error-modal.js
Labels: static-files
