Repository pklaschka/lorem-ipsum-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: static-files, translations, tests, placeholder-texts

.github/labeler.yml:

static-files:
  - dist/**/*

translations:
  - dist/lang/*.json

tests:
  - src/**/*.spec.js
  - tests/**/*.test.js

placeholder-texts:
  - src/placeholder-texts.json

chore(ci): Add Linting GitHub Actions config
  .github/workflows/lint.yml
Labels: none

style: Fix formatting issues
  .eslintrc.js
  .gitignore
  .prettierrc.js
  __mocks__/xd-dialog-helper.js
  __mocks__/xd-localization-helper.js
  jest.config.js
  package.json
  src/functions/__mocks__/binary-length-search.js
  src/functions/binary-length-search.js
  src/functions/binary-length-search.spec.js
  src/functions/init.js
  src/functions/placeholder-text/__mocks__/generate-placeholder-text.js
  src/functions/placeholder-text/apply-text.js
  src/functions/placeholder-text/apply-text.spec.js
  src/functions/placeholder-text/area-text.js
  src/functions/placeholder-text/fill-selection-with-placeholder-text.spec.js
  src/functions/placeholder-text/generate-placeholder-text.js
  src/functions/placeholder-text/generate-placeholder-text.spec.js
  src/functions/placeholder-text/point-text.js
  src/functions/placeholder-text/point-text.spec.js
  src/functions/placeholder-text/replace-with-text.js
  src/functions/placeholder-text/replace-with-text.spec.js
  src/functions/settings/fetch-settings.js
  src/functions/trim-height.js
  src/helpers/__mocks__/debug.js
  src/helpers/analytics.js
  src/helpers/check-selection.js
  src/helpers/debug.js
  src/helpers/error.js
  src/main.js
  src/modals/lorem-configuration-modal.js
  src/modals/selection-error-modal.js
  tests/000_matadata.test.js
  tests/001_localization.test.js
  tsconfig.json
  webpack.config.js
Labels: tests

style: Fix formatting issues
  __mocks__/scenegraph.js
  __mocks__/xd-dialog-helper.js
  package.json
  src/functions/placeholder-text/apply-text.js
  src/functions/placeholder-text/area-text.js
  src/functions/placeholder-text/fill-selection-with-placeholder-text.js
  src/functions/placeholder-text/fill-selection-with-placeholder-text.spec.js
  src/functions/placeholder-text/generate-placeholder-text.spec.js
  src/functions/placeholder-text/replace-with-text.js
  src/functions/trim-height.spec.js
  src/helpers/check-selection.js
  src/main.js
  src/modals/lorem-configuration-modal.js
  src/modals/selection-error-modal.js
Labels: tests

style: Fix formatting issues
  .github/workflows/ci.yml
  package.json
  src/placeholder-texts.json
  tsconfig.json
Labels: placeholder-texts

chore: Add standard-version config
  .versionrc.json
Labels: none

chore(release): 1.4.0
  CHANGELOG.md
  dist/manifest.json
  package-lock.json
  package.json
Labels: static-files

chore: Fix release workflow
  .github/workflows/release.yml
Labels: none

style: Fix formatting issues
  dist/manifest.json
Labels: static-files

chore(deps): add renovate.json
  renovate.json
Labels: none

Update renovate.json
  renovate.json
Labels: none

chore(deps): add renovate.json
  renovate.json
Labels: none

Update renovate.json
  renovate.json
Labels: none

chore(deps): update dependency json-schema to 0.4.0 [security]
  package-lock.json
Labels: none

chore(deps): update dependency json-schema to 0.4.0 [security]
  package-lock.json
Labels: none

chore(deps): update dependency kind-of to 6.0.3 [security]
  package-lock.json
Labels: none

chore(deps): update dependency kind-of to 6.0.3 [security]
  package-lock.json
Labels: none

deps(dev): update actions/cache action to v3
  .github/workflows/lint.yml
Labels: none

deps(dev): update actions/checkout action to v3
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Labels: none

deps(dev): update actions/labeler action to v4
  .github/workflows/label.yml
Labels: none

deps(dev): update actions/setup-node action to v3
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Labels: none

deps(dev): update actions/upload-artifact action to v3
  .github/workflows/ci.yml
Labels: none

deps(dev): update wearerequired/lint-action action to v2
  .github/workflows/lint.yml
Labels: none

deps(dev): update wearerequired/lint-action action to v2
  .github/workflows/lint.yml
Labels: none

deps(dev): update actions/upload-artifact action to v3
  .github/workflows/ci.yml
Labels: none

deps(dev): update actions/setup-node action to v3
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Labels: none

deps(dev): update actions/labeler action to v4
  .github/workflows/label.yml
Labels: none

deps(dev): update actions/checkout action to v3
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Labels: none

deps(dev): update actions/cache action to v3
  .github/workflows/lint.yml
Labels: none

deps(dev): pin dependencies
  package.json
Labels: none

deps(dev): update actions/setup-node action to v3.3.0
  .github/workflows/lint.yml
Labels: none

deps(dev): update actions/cache action to v3.0.4
  .github/workflows/lint.yml
Labels: none

deps(dev): update dependency jest to v28.1.1
  package-lock.json
  package.json
Labels: none

deps(dev): update dependency lint-staged to v13.0.1
  package-lock.json
  package.json
Labels: none

deps(dev): update dependency webpack-cli to v4.10.0
  package-lock.json
  package.json
Labels: none

deps(dev): update dependency prettier to v2.7.0
  package-lock.json
  package.json
Labels: none

deps(dev): update dependency prettier to v2.7.1
  package-lock.json
  package.json
Labels: none

deps(dev): update dependency lint-staged to v13.0.2
  package-lock.json
  package.json
Labels: none

chore: No longer run CI on Node 13.x
  .github/workflows/ci.yml
Labels: none

chore: Update the packagelock file
  pnpm-lock.yaml
Labels: none

chore: Skip lib check in `tsconfig.json` to avoid colliding `@types/node` and UXP typings problems
  tsconfig.json
Labels: none
