Repository pklaschka/lorem-ipsum-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: static-files, translations, tests, placeholder-texts

.github/labeler.yml:

static-files:
  - dist/**/*

translations:
  - dist/lang/*.json

tests:
  - src/**/*.spec.js
  - tests/**/*.test.js

placeholder-texts:
  - src/placeholder-texts.json

Added fix for Windows racing condition
  src/modals/lorem-configuration-modal.js
Labels: none

Added general error catcher
  src/helpers/error.js
  src/main.js
  src/modals/lorem-configuration-modal.js
  src/modals/selection-error-modal.js
Labels: none

Added tests for error helper
  __mocks__/xd-dialog-helper.js
  src/helpers/error.js
  src/helpers/error.spec.js
Labels: tests

Added Slack workspace badge to README.md
  README.md
Labels: none

Updated README.md
  README.md
Labels: none

Fixed Return key not working on macOS
  src/modals/lorem-configuration-modal.js
Labels: none

Update Crowdin configuration file
  crowdin.yml
Labels: none

New translations de.json (French)
  dist/lang/fr.json
Labels: static-files, translations

New translations de.json (Spanish)
  dist/lang/es.json
Labels: static-files, translations

New translations de.json (German)
  dist/lang/de.json
Labels: static-files, translations

New translations de.json (Japanese)
  dist/lang/ja.json
Labels: static-files, translations

Update Crowdin configuration file
  crowdin.yml
Labels: none

Update Crowdin configuration file
  crowdin.yml
Labels: none

New translations default.json (French)
  dist/lang/fr.json
Labels: static-files, translations

New translations default.json (Spanish)
  dist/lang/es.json
Labels: static-files, translations

New translations default.json (German)
  dist/lang/de.json
Labels: static-files, translations

New translations default.json (Japanese)
  dist/lang/ja.json
Labels: static-files, translations

New translations default.json (German)
  dist/lang/de.json
Labels: static-files, translations

Delete ja.json
  dist/lang/ja.json
Labels: static-files, translations

New translations default.json (Japanese)
  dist/lang/ja.json
Labels: static-files, translations

New translations default.json (Japanese)
  dist/lang/ja.json
Labels: static-files, translations

New translations default.json (Japanese)
  dist/lang/ja.json
Labels: static-files, translations

New translations default.json (French)
  dist/lang/fr.json
Labels: static-files, translations

New translations default.json (Spanish)
  dist/lang/es.json
Labels: static-files, translations

New translations default.json (Hindi)
  dist/lang/hi.json
Labels: static-files, translations

New translations default.json (Portuguese)
  dist/lang/pt.json
Labels: static-files, translations

New translations default.json (Chinese Simplified)
  dist/lang/zh.json
Labels: static-files, translations

Removed analytics
  src/helpers/analytics.js
Labels: none

Fixed CI
  .github/workflows/ci.yml
Labels: none

chore(ci): Remove obsolete GitLab CI config
  .gitlab-ci.yml
Labels: none

chore: Miscellaneous optimizations in configuration, adding prettier, adjust ESLint, ...
  .eslintrc.js
  .github/workflows/release.yml
  .prettierignore
  .prettierrc.js
  CHANGELOG
  dist/debug.json
  package-lock.json
  package.json
  src/functions/placeholder-text/replace-with-text.spec.js
  types/webpack-globals.d.ts
Labels: static-files, tests

chore(ci): Update NodeJS version in CI config
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: none

test: Fix tests for NodeJS 15.x
  src/helpers/error.spec.js
Labels: tests

chore: Add .editorconfig
  .editorconfig
Labels: none

chore(ci): Remove `debug.json` in CI builds
  .github/workflows/release.yml
Labels: none

chore(deps): Package upgrade
  package-lock.json
Labels: none

chore: Allow ES2018 object spread via .eslintrc.js
  .eslintrc.js
Labels: none

feat: Add support for auto-height text (introduced in XD 34)
  dist/manifest.json
  src/functions/placeholder-text/fill-selection-with-placeholder-text.js
Labels: static-files

chore: Add husky pre-commit hooks
  package-lock.json
  package.json
Labels: none

test: Adjust existing test to new mocks and include auto-height text in tests
  __mocks__/scenegraph.js
  src/functions/placeholder-text/area-text.spec.js
  src/functions/placeholder-text/fill-selection-with-placeholder-text.spec.js
  src/functions/placeholder-text/point-text.spec.js
  src/functions/trim-height.spec.js
Labels: tests
